body {
  margin: 0;
  font-family: "Helvetica", serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  font-family: "helvetica", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 20px;
  text-decoration: underline;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: 200px;
  height: 50px;
  margin-right: 10px;
  padding-left: 10px;
}

.content {
  display: flex;
}


.mission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 300px;
  display: block;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  text-align: center;
  margin: auto;
}

.image-content {
  background-color: black;
  font-weight: bold;
  font-family: helvetica;
}
